@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Lora|Quicksand|Open+Sans+Condensed:300|Lateef|Cinzel|Lustria|Gentium+Basic|Cardo|Tinos);
@import url(https://fonts.googleapis.com/css?family=Lora|Quicksand|Open+Sans+Condensed:300|Lateef|Cinzel|Lustria|Gentium+Basic);
@import url(https://fonts.googleapis.com/css?family=Lora|Quicksand|Open+Sans+Condensed:300|Lateef|Cinzel|Lustria);
body{
	font-family: "ubuntu" !important;
}

.main-blog{
	background-color: #F2F2F2;
	}
	.fixed{
		position: fixed;
	width: 100%;
	background-color: #fff;
	z-index:1;
	}

.home-section{
	height:600px;
	background-color: #F2F2F2; 

}
.home-hero{
	margin:200px 0!important;
}
.nav1{
	/*padding: 20px 20px 20px 0;*/
}
.nav1 ul{
	padding:0 !important;
}
.nav1 li{
display: inline-block;
font-size: 14px;
padding: 10px 10px 10px 0;
font-family: roboto;
}
.nav1 li a{
text-decoration: none;
color:grey;
}
.nav1 li a:hover{
text-decoration: none;
color:black;
border-bottom: 1px solid black;
}
.nav1 li a:active{
color:grey;
border-bottom: 1px solid black;
}
.text{
color:#484947;
font-size:25px;
text-align: right;
padding-top:10px;
font-family: roboto;

}

#round{
	height: 100%;
	width: 200px;
	border-radius: 200px;
}
.middle{
	margin-top: 27px;.college{
	border: 1px solid grey;
	height: 200px;
	width: 100%;
	color: grey;
	padding: 10px;
    background-color: #F2F2F2;
    box-shadow: 3px 3px 3px;
}
.border{
padding: 10%;
font-family: 'Tinos', serif;
}
.edu{
	background-color: #484947;
	width: 100%;
}
.college h4::after{
	display: block;
	width: 85px;
	height: 3px;
	margin-top: 10px;
	background-color: grey;
	content: "";
}
}
.about{
	padding: 0 0 0 60px !important;
}
.heading{
	font-size: 30px;
	font-family: lora;
}
.college{
	border: 1px solid grey;
	height: 200px;
	width: 100%;
	color: grey;
	padding: 10px;
    background-color: #F2F2F2;
    box-shadow: 3px 3px 3px;
}
.border{
padding: 10%;

}
.edu{
	background-color: #484947;
	width: 100%;
}
.edu h5{
	font-size: 18px !important;
	/*font-weight: bold;*/
	color:#484947;
}
.edu p{
	font-size: 16px !important;
	color:#333333;
}

.college h5::after{
	display: block;
	width: 85px;
	height: 3px;
	margin-top: 10px;
	background-color: grey;
	content: "";
}
.master{
	padding: 10% !important;
}
.main{
	background-color: #F2F2F2;
	width: 100%;
	height: 600px;
	
}
.technical h5{
	font-size: 22px !important;
	font-weight: bold;
	color:#484947;
}
.technical p{
	font-size: 18px !important;
	color:#333333;
}
.technical {
	color: grey;
	font-family: 'Gentium Basic', serif;
}
.technical h3::after{
	display: block;
	width: 100px;
	height: 3px;
	margin-top: 10px;
	background-color: grey;
	content: "";
}
.logos>div{
	margin-bottom: 10px;
	margin-top: 10px;
}
.master1{
	padding: 10% !important;
}
.main1{
	background-color: #484947;
	width: 100%;
	
}
.text1{
	color: #B9B9B9;
	font-family: 'Lustria', serif;
	font-size: 20px;
	line-height: 1.8;
}
.size{
	font-weight: bold;
	font-size: 25px;
}
.text1 h3::after{
	display: block;
	width: 100px;
	height: 3px;
	margin-top: 10px;
	background-color: grey;
	content: "";
}
.master2{
	padding: 10% !important;
}
.main2{
	background-color: #F2F2F2;
	width: 100%;
	
}
.text2{
	color: #B9B9B9;
	font-family: 'Lustria', serif;
	font-size: 20px;
	line-height: 1.8;
}
.content h3::after{
	display: block;
	width: 100px;
	height: 3px;
	margin-top: 10px;
	background-color: grey;
	content: "";
}

.content h5{
font-size: 22px !important;
}
.content p{
font-size: 18px !important;
}
.content{
font-family: 'Gentium Basic', serif;
}
.master3{
	padding: 10% !important;
}
.main3{
	background-color: #484947;
	width: 100%;
	
}
.text2 h3::after{
	display: block;
	width: 100px;
	height: 3px;
	margin-top: 10px;
	background-color: grey;
	content: "";
}
/*.cont{
position: fixed;
height: 100px;
width:100%;
bottom:0;
background-color: #fff;
}
*/
.padding{
	padding: 10px;
}
.padding a{
	padding:5px;
	color:black;

}



