<div class="home-page-wrapper">
    <nav class="navbar navbar-default home-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/"><span>Home</span></a></li>
                    <li class="active"><a href="#about"><span>About</span></a></li>
                    <li><a href="#apps"><span>Apps</span></a></li>
                    <li><a href="#contact"><span>Contact</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-brand-name"><a href="#/">Geethanjali M</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <section class="header-about">
        <div class="container">
            <div class="about-content">
                <div class="media">
                    <div class="media-left">
                        <a href="#" animated fadeInDown>
                            <img class="media-object" src="assets/images/geeth.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading animated fadeInDown">I am Geetha, 21 years old UI developer from chennai, I am passionate about creating modern web applications.</h3>
                    </div>
                </div>
                <div class="row description-row">
                    <div class="col-md-6">
                        <p class="animated fadeInUp">I focus My attention and efforts on front end development and its coding weapons: HTML, CSS and Javascript.With the advent of new and exciting web technologies I work every day to keep up to date and follow the road of progressive enhancement.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="animated fadeInUp">I am able to work effectively in a team or on my Own. I pride myself on being able to use my knowledge and initiative to deliver high quality results to tight deadlines. I enjoy a challenge and look for the opportunity to expand and develop my skill set.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
