<div class="home-page-wrapper app-page-wrapper">
    <nav class="navbar navbar-default home-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/"><span>Home</span></a></li>
                    <li><a href="#about"><span>About</span></a></li>
                    <li class="active"><a href="#apps"><span>Apps</span></a></li>
                    <li><a href="#contact"><span>Contact</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-brand-name"><a href="#/">Geethanjali M</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <section class="header-about">
        <div class="container">
            <div class="app-content">
                <div class="row description-row">
                    <div class="col-md-5">
                        <div class="head-box">
                            <h3>SPEAKU</h3></div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Have developed a hybrid Podcast mobile application. Worked on the design and implementation of user interface. Worked on interfacing data models. Technologies used are Ionic, Cordova, HTML5, CSS3, JS, jQuery, Bootstrap, AngularJS, UI Router, Gulp</p>
                        <a type="button" class="btn btn-link" href="https://speaku.io/index.php">Know More &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row description-row">
                    <div class="col-md-5">
                        <div class="head-box">
                            <h3>MOVIE DATABASE</h3></div>
                    </div>
                    <div class="col-md-7">
                        <p>Have developed a responsive free bootstrap template for Movie database theme. Worked on the design and implementation of user interface. Technologies used are HTML5, CSS3, jQuery, Bootstrap</p>
                        <a type="button" class="btn btn-link" href="https://anjaligm.github.io/Movie-DB-theme/">Know More &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row description-row">
                    <div class="col-md-5">
                        <div class="head-box">
                            <h3>JOB PORTAL</h3></div>
                    </div>
                    <div class="col-md-7">
                        <p>Have developed a responsive free bootstrap template for job portal theme. Worked on the design and implementation of user interface. Technologies used are HTML5, CSS3, jQuery, Bootstrap</p>
                        <a type="button" class="btn btn-link" href="https://anjaligm.github.io/jobly/">Know More &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row description-row">
                    <div class="col-md-5">
                        <div class="head-box">
                            <h3>PODCAST</h3></div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Have developed a responsive free bootstrap template for podcasting theme. Worked on the design and implementation of user interface. Technologies used are HTML5, CSS3, jQuery, Bootstrap</p>
                        <a type="button" class="btn btn-link" href="https://anjaligm.github.io/podcast-theme/">Know More &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row description-row">
                    <div class="col-md-5">
                        <div class="head-box">
                            <h3>8K RADIO</h3></div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Have developed a Information website for 8k Radio App. Worked on the design and implementation of UI. Worked on interfacing data models. Technologies used are HTML5, CSS3, jQuery, Bootstrap, AngularJs</p>
                        <a type="button" class="btn btn-link" href="http://tamil.8kradio.com/#/home">Know More &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row description-row">
                    <div class="col-md-5">
                        <div class="head-box">
                            <h3>EVENTZILLA</h3></div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Have developed a Online Ticket selling website for events. I worked on the design and implementation of UI. Worked on interfacing data models. Technologies used are HTML5, CSS3, jQuery, Bootstrap</p>
                        <a type="button" class="btn btn-link" href="http://www.eventzilla.net/en/home">Know More &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row description-row">
                    <div class="col-md-5">
                        <div class="head-box">
                            <h3>EMR</h3></div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Have developed healthcare application. Worked on the design and implementation of user interface. Worked on interfacing data models. Technologies used are HTML5, CSS3, JS, jQuery, Bootstrap.</p>
                        <a type="button" class="btn btn-link" href="\404.html">Know More &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row description-row">
                    <div class="col-md-5">
                        <div class="head-box">
                            <h3>IAL</h3></div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Have developed a college website. Worked on the design and implementation of UI. Technologies used are HTML5, CSS3, jQuery, Bootstrap</p>
                        <a type="button" class="btn btn-link" href="https://www.ial.edu.sg/">Know More &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row description-row">
                    <div class="col-md-5">
                        <div class="head-box">
                            <h3>TIECON</h3></div>
                    </div>
                    <div class="col-md-7">
                        <p>
                            Have developed a Entrepreneurs Meet up informational website. Worked on the design and implementation of UI. Worked on interfacing data models. Technologies used are HTML5, CSS3, jQuery, Bootstrap</p>
                        <a type="button" class="btn btn-link" href="http://tieconchennai.com/">Know More &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
