<div class="contact-page-wrapper">
    <nav class="navbar navbar-default home-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/"><span>Home</span></a></li>
                    <li><a href="#about"><span>About</span></a></li>
                    <li><a href="#apps"><span>Apps</span></a></li>
                    <li class="active"><a href="#contact"><span>Contact</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-brand-name"><a href="#/">Geethanjali M</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <section class="header-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="social-col">
                        <p>Electroic Mail</p>
                        <h4><a href="mailto:geethanjalikgm@gmail.com"">geethanjalikgm@gmail.com</a></h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="social-col social-col-github">
                        <p>Github</p>
                        <h4><a href="http://www.github.com/anjaligm">Click Here !</a></h4>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="social-col">
                        <p>Linked In</p>
                        <h4><a href="https://www.linkedin.com/nhome/?trk=">Click Here !</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
