<div class="home-page-wrapper">
    <nav class="navbar navbar-default home-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/"><span>Home</span></a></li>
                    <li class="active"><a href="#about"><span>About</span></a></li>
                    <li><a href="#app"><span>Apps</span></a></li>
                    <li><a href="#contact"><span>Contact</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-brand-name"><a href="#/">Geethanjali M</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <section class="header-about">
        <div class="container">
            <div class="about-content">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="images/geeth.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">My name is Geeth Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis numquam,</h3>
                    </div>
                </div>
                <div class="row description-row" style="padding-top: 33px;">
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti tempore assumenda nam enim modi esse ducimus, officiis iure consectetur mollitia rerum sequi aliquam magni! Distinctio sed doloribus itaque nulla ab?</p>
                    </div>
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti tempore assumenda nam enim modi esse ducimus, officiis iure consectetur mollitia rerum sequi aliquam magni! Distinctio sed doloribus itaque nulla ab?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
