<div class="home-page-wrapper">

    <nav class="navbar navbar-default home-nav">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/"><span>Home</span></a></li>
            <li><a href="#about"><span>About</span></a></li>
            <li><a href="#app"><span>Apps</span></a></li>
            <li><a href="#contact"><span>Contact</span></a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
            <li class="navbar-brand-name"><a href="#/">Geethanjali M</a></li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>
        <header class="header-main">
        <div class="text-vertical-center animated fadeInDown">
            <h2>Hi, I am Geetha, UI Developer</h2>
            <p>Take a look at some of my works, and if you like them, feel free to contact me.</p>
        </div>
    </header>
</div>